html {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;

    /* border: thin solid blue; */
}

header {
    background-image: linear-gradient(90deg,rgb(255, 143, 112, .9), rgb(255, 61, 84, .8)), url(../images/bg-pattern-intro.svg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -250px;
    height: auto;
    border-bottom-left-radius: 100px;
    color: hsl(0, 0%, 100%);

    /* border: thin solid lime; */
}

.nav-section {
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    margin: 0 100px;
    
    /* border: thin solid magenta; */
}

.left-side {
    display: flex;
}

.logo {
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;

    /* border: thin solid red; */
}

.menu {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.nav {
    display: inline-flex;
    padding: 0 20px;

    /* border: thin solid yellow; */
    }

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;

    /* border: thin solid blue; */
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 25px;

    /* border: thin solid blue; */
}

.buttons {
    display: flex;
    margin: 10px;
    margin-bottom: 100px;
}

.btn {
    display: flex;
    margin: 0 10px;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    font-family: 'ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.btn1 {
    display: flex;
    align-items: center;
    color: hsl(352, 100%, 62%);
    font-family: 'ubuntu';
}

.btn2 {
    display: flex;
    align-items: center;
    color:hsl(0, 0%, 100%);
    background-color:transparent;
    border: thin solid hsl(0, 0%, 100%);
    font-family: 'ubuntu', sans-serif;
}

.login a {
    text-decoration: none;
    padding: 0 25px;
    color: hsl(0, 0%, 100%);
    font-family: 'ubuntu', sans-serif;
    font-weight: 700;
}

.sign-up {
    /* margin: 0 100px 0 0; */
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-family: 'ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

/* DESIGNED FOR THE FUTURE SECTION */

.future-section {
    background-image: url(../images/illustration-editor-desktop.svg);
    background-size: 65%;
    background-position-y: 100px;
    background-position-x: 750px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin: 20px 0;
}

.wrapper-future {
    
    color: hsl(207, 13%, 34%);
    display: flex;
}
.future {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 100px;
    color: hsl(208, 49%, 24%);
}

.left-side-future {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 100px;
}

.title {
    width: 500px;
    margin-bottom: 20px;
    color: hsl(208, 49%, 24%);
}

p {
    line-height: 2rem;
    padding-bottom: 50px;
    font-weight: 300;
    color: hsl(240, 2%, 79%);
}

.right-side-future {
    display: flex;
    width:50%;
}


/* INFRASTRUCTURE SECTION */
.infrastructure-section {
    display: flex;
    align-items: center;
    height: 500px;
    margin-bottom: 100px;

    /* border: thin solid orangered; */
}

.background {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0 100px;
    width: 100%;
    height: 400px;
}

.infrastructure-heading {
    color: hsl(0, 0%, 100%);
    font-size: 36px;
    
}

.left-side-inf {
    display: flex;
    align-items: center;
    width: 50%;
    background-image: url(../images/illustration-phones.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -20px;
    height: 500px;



    /* border: thin solid pink; */
}

.right-side-inf {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    padding: 50px;

    /* border: thin solid lime; */
}

/* INFO SECTION */
.wrapper-info {
    display: flex;
    justify-content: center;
}

.half-width {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.info-image {
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-size: 130%;
    background-position-x: -260px;
    background-repeat: no-repeat;
}

.info-text {
    margin: 125px 0;
    padding-top: 25px;
}

/* FOOTER SECTION */
.footer-section {
    background-color: hsl(240, 10%, 16%);
    height: 360px;
    border-top-right-radius: 100px;
}

.wrapper-footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    margin: 0 100px;
    color: hsl(240, 2%, 79%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-ftr {
    font-weight: 700;
    margin-bottom:15px;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
}

.logo-ftr {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-weight: 700;
    margin-top: .5rem;

}




