* {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../images/bg-pattern-intro.svg);
    background-size: cover;

    border: thin solid lime;
}

nav {

}

.nav {
    list-style-type: none;
    
}

